.courses {
    width: 50% !important;
}

.courses__row__options {
    display: flex;
    justify-content: flex-end !important;
}

.courses__row__options {
    border-left: none !important;
}

.courses__row__options > button {
    font-size: 12px !important;
}

.courses-loading {
    width: 50% !important;
    height: 10em !important;
}