{% extends 'layout.html' %}

{% block body %}
<h1> </h1>
<h1> About </h1>
<p>
	"The Academic Calendar" hosts an interactive web-application which allows students
	to keep track of their academic progress through a semester.
	Created primarily for the members of Triangle Fraternity (Illinois Chapter).
	<br>
	<br>
	The idea for the Academic Calendar was originally conceived by SJW via an Excel Spreadsheet.
</p>
<p>
	Built from the Python Flask Framework, Bootstrap, D3, and MySQL by DDP.
</p>
{% endblock %}