{% extends 'layout.html' %}

{% block body %}
    <p></p>
    <h1>Add Class</h1>
    <p></p>
    {% from "includes/_formhelpers.html" import render_field %}
    Subject:
    <div style="line-height:50%;">
        <br>
    </div>
    <form action="" method="POST">
        <select name="subjects">
            <option value="CS">CS</option>
            <option value="STAT">STAT</option>
            <option value="MATH">MATH</option>
            <option value="PHYS">PHYS</option>
        </select>
        <br>
        <br>
        <div class="form-group">
            {{render_field(form.courseNum, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.courseName, class_="form-control")}}
        </div>
        <p><input type="submit" class="btn btn-primary" value="Submit"></p>
    </form>
{% endblock %}