{% extends 'layout.html' %}

{% block body %}
    <p></p>
    <h1>{{userName}}'s Academic Calendar</h1>
    <p></p>
    <p></p>
    <ul class="list-group">
        <li class="list-group-item">
            <object align="left-center">
                <a href="/administration/{{userNetID}}/{{userName}}/classes">Classes</a>
            </object>
        </li>
        <li class="list-group-item">
            <object align="left-center">
                <a href="/administration/{{userNetID}}/{{userName}}/planner">Planner</a>
            </object>
        </li>
    </ul>
{% endblock %}