{% extends 'layout.html' %}

{% block body %}
    <p></p>
    <h1>{{userName}}'s Planner: Week {{week}}</h1>
    <br>
    <p></p>
    {% if Items %}
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Class</th>
                    <th>Category</th>
                    <th>Item</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            {% for item in Items %}
            <tr>
                <td>{{item.subject}}{{item.courseNum}}: {{item.courseName}}</td>
                <td>{{item.category}}</td>
                <td>{{item.attributeName}}</td>
                <td>{{item.dueDate}}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Nothing here for this week!</p>
    {% endif %}
{% endblock %}