{% extends 'layout.html' %}

{% block body %}
    <p></p>
    <h1>Administration</h1>
    <p></p>
    <a href="/administrationCheckIn" class="btn btn-primary">Execute Check-In!</a>
    <object align="right">
        <a href="/administrationUndoCheckIn" class="btn btn-primary">Undo Check-In!</a>
    </object>
    <br>
    <br>
    <ul class="list-group">
    {% for user in users %}
        <li class="list-group-item">
            <object align="left-center">
                <a href="/administration/{{user.netID}}/{{user.name}}/classes">{{user.netID}} - {{user.name}}</a>
            </object>
        </li>
    {% endfor %}
    </ul>
{% endblock %}