<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<style>
    body {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .grid path,
    .grid line {
      fill: none;
      stroke: rgba(0, 0, 0, 0.25);
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .line {
      fill: none;
      stroke-width: 2.5px;
    }
</style>
{% extends 'layout.html' %}
{% block body %}
<h1> </h1>
<h1> Calculated Grade </h1>
<br>
<object>
  <strong> Pre-Curve: </strong> {{grade}}%
</object>
<br>
<br>
<object>
  <strong>Post-Curve Grade:</strong> <b id="pcGrade"></b><b id="pcGradeSep"></b><b id="pcGrade2"></b>
</object>
<br>
    <div class="row">
        <div class="col-sm-3">
            <div class="well">
                <div class="form-group shiny-input-container">
                    <br>
                    <label for="sd">Mean:</label>
                    <input id="mean" type="number" class="form-control" value="70" min="0" max="100" step="0.01"/>
                </div>
                <div class="form-group shiny-input-container">
                    <label for="sd">Standard Deviation:</label>
                    <input id="sd" type="number" class="form-control" value="10" min="0.01" max="30" step="0.01"/>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" onclick="pcGrade({{grade}})">Submit</button>
                <script>
                    function pcGrade(grade) {
                        let m = document.getElementById("mean").value;
                        let s = document.getElementById("sd").value;
                        if (s > 0 && m >= 0 && m <= 100) {
                            var z = (grade - m) / s;
                            if (z < -1) {
                                document.getElementById("pcGrade").innerText = "F";
                                document.getElementById("pcGrade").style.color = "#990000";
                                document.getElementById("pcGradeSep").innerText = "";
                                document.getElementById("pcGrade2").innerText = "";
                            } else if (z == -1) {
                                document.getElementById("pcGrade").innerText = "F";
                                document.getElementById("pcGrade").style.color = "#990000";
                                document.getElementById("pcGradeSep").innerText = "/";
                                document.getElementById("pcGrade2").innerText = "D-";
                                document.getElementById("pcGrade2").style.color = "#ff00ff";
                            } else if (z < -0.5) {
                                document.getElementById("pcGrade").innerText = "D";
                                document.getElementById("pcGrade").style.color = "#ff00ff";
                                document.getElementById("pcGradeSep").innerText = "";
                                document.getElementById("pcGrade2").innerText = "";
                            } else if (z == -0.5) {
                                document.getElementById("pcGrade").innerText = "D+";
                                document.getElementById("pcGrade").style.color = "#ff00ff";
                                document.getElementById("pcGradeSep").innerText = "/";
                                document.getElementById("pcGrade2").innerText = "C-";
                                document.getElementById("pcGrade2").style.color = "#f28000";
                            } else if (z < 0.5) {
                                document.getElementById("pcGrade").innerText = "C";
                                document.getElementById("pcGrade").style.color = "#f28000";
                                document.getElementById("pcGradeSep").innerText = "";
                                document.getElementById("pcGrade2").innerText = "";
                            } else if (z == 0.5) {
                                document.getElementById("pcGrade").innerText = "C-";
                                document.getElementById("pcGrade").style.color = "#f28000";
                                document.getElementById("pcGradeSep").innerText = "/";
                                document.getElementById("pcGrade2").innerText = "B-";
                                document.getElementById("pcGrade2").style.color = "#0080ff";
                            } else if (z < 1) {
                                document.getElementById("pcGrade").innerText = "B";
                                document.getElementById("pcGrade").style.color = "#0080ff";
                                document.getElementById("pcGradeSep").innerText = "";
                                document.getElementById("pcGrade2").innerText = "";
                            } else if (z == 1) {
                                document.getElementById("pcGrade").innerText = "B+";
                                document.getElementById("pcGrade").style.color = "#0080ff";
                                document.getElementById("pcGradeSep").innerText = "/";
                                document.getElementById("pcGrade2").innerText = "A-";
                                document.getElementById("pcGrade2").style.color = "#0dc000";
                            } else {
                                document.getElementById("pcGrade").innerText = "A";
                                document.getElementById("pcGrade").style.color = "#0dc000";
                                document.getElementById("pcGradeSep").innerText = "";
                                document.getElementById("pcGrade2").innerText = "";
                            }
                            var f = function(x, m, s) {
                                return (1 / (Math.sqrt(2 * Math.PI) * s)) * Math.exp(-1 * (Math.pow(x - m, 2) / (2 * Math.pow(s, 2))));
                            };

                            var linspace = function(start, end, n) {
                                d = (end - start) / (n - 1);
                                arr = [];
                                for (var i = 0; i < n; i++)
                                    arr.push(start + i * d);
                                return arr;
                            };

                            var xyPoints = function(start, end, n) {
                                x = linspace(start, end, n);
                                y = [];
                                arr = [];
                                for(var i = 0; i < x.length; i++)
                                    y.push(f(x[i], 0, 1));
                                arr.push(x);
                                arr.push(y);
                                return arr;
                            };

                            var myGradeLine = {
                                x: [z, z],
                                y: [0, f(z, 0, 1)],
                                mode: 'lines',
                                marker: {color: 'red'}
                            };

                            var pts = xyPoints(-3, -1, 100);
                            var fZone = {
                                x: pts[0],
                                y: pts[1],
                                fill: 'tozeroy',
                                type: 'line',
                                marker: {color: '#990000'}
                            };

                            pts = xyPoints(-1, -0.5, 100);
                            var dZone = {
                                x: pts[0],
                                y: pts[1],
                                fill: 'tozeroy',
                                type: 'line',
                                marker: {color: '#ff00ff'}
                            };

                            pts = xyPoints(-0.5, 0.5, 100);
                            var cZone = {
                                x: pts[0],
                                y: pts[1],
                                fill: 'tozeroy',
                                type: 'line',
                                marker: {color: '#f28000'}
                            };

                            pts = xyPoints(0.5, 1, 100);
                            var bZone = {
                                x: pts[0],
                                y: pts[1],
                                fill: 'tozeroy',
                                type: 'line',
                                marker: {color: '#0080ff'}
                            };

                            pts = xyPoints(1, 3, 100);
                            var aZone = {
                                x: pts[0],
                                y: pts[1],
                                fill: 'tozeroy',
                                type: 'line',
                                marker: {color: '#0dc000'}
                            };

                            var data = [fZone, dZone, cZone, bZone, aZone, myGradeLine];
                            var layout = {
                                title: 'Standard Normal Curve',
                                autosize: false,
                                width: 500,
                                height: 500,
                                margin: {
                                  l: 50,
                                  r: 50,
                                  b: 100,
                                  t: 100,
                                  pad: 4
                                },
                                xaxis: {
                                    range: [-3,3],
                                    fixedrange: true,
                                    showgrid: false,
                                    zeroline: false,
                                    tickvals: [-3,-1,-0.5, 0, 0.5, 1, 3],
                                    ticktext: [-3,-1,-0.5, 0, 0.5, 1, 3]
                                },
                                yaxis: {
                                    showticklabels: false,
                                    fixedrange: true,
                                    showgrid: false
                                  },
                                showlegend: false,
                                hovermode: false
                            };
                            Plotly.newPlot('viz', data, layout, {displayModeBar: false});
                        } else {
                            var errMsg = "";
                            if (m < 0)
                                errMsg += "Mean must be positive!\n";
                            if (m > 100)
                                errMsg += "Mean is too large!\n";
                            if (s <= 0)
                                errMsg += "Standard Deviation must be non-zero!\n";
                            document.getElementById("pcGrade").innerHTML = errMsg;
                            document.getElementById("pcGrade").style.color = "black";
                            document.getElementById("viz").innerHTML = "";
                        }
                    }
                </script>
            </div>
        </div>
        <div id="viz" class="col-sm-3"></div>
    </div>
    <br>
{% endblock %}
</html>