<html>
<head>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script>
		// arbitrary function to plot
		var f = function(x, mu = 0, sd = 1) {
			return (1.0/(Math.sqrt(2*Math.PI)*sd))*Math.exp(-0.5*Math.pow((x - mu)/(1.0*sd), 2));
		}

		// function that creates the data
		var makeData = function(a, b, n, mu = 0, sd = 1) {
			data = [];
			dx = 1.0*(b - a)/n;
			yMax = -Math.pow(10, 5);
			for (i = 0; i <= n; i++) {
				x = a + i*dx;
				y = f(x, mu, sd);
				data.push({ x: x, y: y });
				if (y > yMax) {
					yMax = y;
				}
			}
			return { data: data, yMax: Math.round(yMax*100) / 100 };
		}
	</script>
	<meta charset="UTF-8">
</head>
<style>
	body {
	  font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

	.grid path,
	.grid line {
	  fill: none;
	  stroke: rgba(0, 0, 0, 0.25);
	  shape-rendering: crispEdges;
	}

	.x.axis path {
	  display: none;
	}

	.line {
	  fill: none;
	  stroke-width: 2.5px;
	}

	#viz.moved_up {
		position: relative;
		top: -40px;
	}

</style>
{% extends 'layout.html' %}
{% block body %}
<h1> </h1>
<h1> Calculated Grade </h1>
<br>
<object>
  <strong> Pre-Curve: </strong> {{grade}}%
</object>
<br>
<br>
<object>
  <strong>Post-Curve Grade:</strong> <b id="pcGrade"></b><b id="pcGradeSep"></b><b id="pcGrade2"></b>
</object>
<br>
	<div class="row">
		<div class="col-sm-3">
			<div class="well">
				<div class="form-group shiny-input-container">
					<br>
					<label for="sd">Mean:</label>
					<input id="mean" type="number" class="form-control" value="70" min="0" max="100" step="0.01"/>
				</div>
				<div class="form-group shiny-input-container">
					<label for="sd">Standard Deviation:</label>
					<input id="sd" type="number" class="form-control" value="10" min="0.01" max="30" step="0.01"/>
				</div>
				<br>
				<button type="submit" class="btn btn-primary" onclick="pcGrade({{grade}})">Submit</button>
				<script>
					function pcGrade(grade) {
						let m = document.getElementById("mean").value;
						let s = document.getElementById("sd").value;
						if (s > 0 && m >= 0 && m <= 100) {
							var z = (grade - m) / s;
							if (z < -1) {
								document.getElementById("pcGrade").innerText = "F";
								document.getElementById("pcGrade").style.color = "#990000";
								document.getElementById("pcGradeSep").innerText = "";
								document.getElementById("pcGrade2").innerText = "";
							} else if (z == -1) {
								document.getElementById("pcGrade").innerText = "F";
								document.getElementById("pcGrade").style.color = "#990000";
								document.getElementById("pcGradeSep").innerText = "/";
								document.getElementById("pcGrade2").innerText = "D-";
								document.getElementById("pcGrade2").style.color = "#ff00ff";
							} else if (z < -0.5) {
								document.getElementById("pcGrade").innerText = "D";
								document.getElementById("pcGrade").style.color = "#ff00ff";
								document.getElementById("pcGradeSep").innerText = "";
								document.getElementById("pcGrade2").innerText = "";
							} else if (z == -0.5) {
								document.getElementById("pcGrade").innerText = "D+";
								document.getElementById("pcGrade").style.color = "#ff00ff";
								document.getElementById("pcGradeSep").innerText = "/";
								document.getElementById("pcGrade2").innerText = "C-";
								document.getElementById("pcGrade2").style.color = "#f28000";
							} else if (z < 0.5) {
								document.getElementById("pcGrade").innerText = "C";
								document.getElementById("pcGrade").style.color = "#f28000";
								document.getElementById("pcGradeSep").innerText = "";
								document.getElementById("pcGrade2").innerText = "";
							} else if (z == 0.5) {
								document.getElementById("pcGrade").innerText = "C-";
								document.getElementById("pcGrade").style.color = "#f28000";
								document.getElementById("pcGradeSep").innerText = "/";
								document.getElementById("pcGrade2").innerText = "B-";
								document.getElementById("pcGrade2").style.color = "#0080ff";
							} else if (z < 1) {
								document.getElementById("pcGrade").innerText = "B";
								document.getElementById("pcGrade").style.color = "#0080ff";
								document.getElementById("pcGradeSep").innerText = "";
								document.getElementById("pcGrade2").innerText = "";
							} else if (z == 1) {
								document.getElementById("pcGrade").innerText = "B+";
								document.getElementById("pcGrade").style.color = "#0080ff";
								document.getElementById("pcGradeSep").innerText = "/";
								document.getElementById("pcGrade2").innerText = "A-";
								document.getElementById("pcGrade2").style.color = "#0dc000";
							} else {
								document.getElementById("pcGrade").innerText = "A";
								document.getElementById("pcGrade").style.color = "#0dc000";
								document.getElementById("pcGradeSep").innerText = "";
								document.getElementById("pcGrade2").innerText = "";
							}
							document.getElementById("viz").innerText = "";
							document.getElementById("viz").innerHTML = "";
							// prepare data
							mu = 0;
							sd = 1;

							var v = [mu-3*sd, mu-1*sd, mu-0.5*sd, mu, mu+0.5*sd, mu+1*sd, mu+3*sd];
							var idxs = [[0, 1], [1, 2], [2, 4], [4, 5], [5, 6]];

							a = v[0];
							b = v[6];
							n = 100;
							var myData = makeData(a, b, n, mu, sd);
							var colors = ["#990000", "#ff00ff", "#f28000", "#0080ff", "#0dc000", "red"]
							var labels = ["F", "D", "C", "B", "A", "You"];

							// configure svg display margins
							const fullWidth = 600;
							const fullHeight = 250;
							const margin = {
								top: 25,
								right: 20, // 15 by default
								left: 20, // 50 with y-axis
								bottom: 25
							};
							const width = fullWidth - margin.left - margin.right;
							const height = fullHeight - margin.top - margin.bottom;

							// create svg canvas 
							var myViz = d3.select("#viz").append('svg')
								.attr('width', fullWidth)
								.attr('height', fullHeight)
								.style('border', 'solid')
								.append('g')
									.attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

							// create x-axis
							xScale = d3.scaleLinear()
								.domain([a, b])
								.range([0, width]);
							xMap = function(d) { return xScale(d.x); }
							xAxis = d3.axisBottom(xScale)
								.tickSize(5)
								.tickValues(v)
								.tickFormat(d3.format(".3f"));
							myViz.append('g')
								.attr('transform', 'translate(0,' + height + ')')
								.classed('x axis', true)
								.call(xAxis);

							// create y-axis
							yScale = d3.scaleLinear()
								.domain([0, myData.yMax])
								.range([height, 0]);
							yMap = function(d) { return yScale(d.y); }
							yAxis = d3.axisLeft(yScale)
								.tickSizeInner(5)
								.tickSizeOuter(10); /*
							myViz.append('g')
								.classed('y axis', true)
								.call(yAxis); 
							*/

							// add black continuous line
							var line = d3.line()
								.x(xMap)
								.y(yMap);
							myViz.append("path")
								.datum(myData.data)
								.attr("fill", "none")
								.attr("stroke", "black")
								.attr("stroke-linejoin", "round")
								.attr("stroke-linecap", "round")
								.attr("stroke-width", 1.5)
								.attr("d", line);

							// add F, D, C, B, A grade zones
							for (k = 0; k < 5; k++) {
								// add area under line
								area = d3.area()
									.x(xMap)
									.y0(height)
									.y1(yMap);
								myViz.append("path")
									.data([makeData(v[idxs[k][0]], v[idxs[k][1]], n, mu, sd).data])
									.attr("class", "area")
									.attr("d", area)
									.attr('fill', colors[k]);
							}

							// add grade line
							area = d3.area()
								.x(xMap)
								.y0(height)
								.y1(yMap);
							myViz.append("path")
								.data([[{x: grade - 0.01, y: f(grade - 0.01, mu, sd)}, {x: grade + 0.01, y: f(grade + 0.01, mu, sd)}]])
								.attr("class", "area")
								.attr("d", area)
								.attr('fill', colors[5]);

							// add title to plot
							myViz.append("text")
								.attr("x", (width / 2))
								.attr("y", 0 - 0.35*margin.top)
								.attr("text-anchor", "middle")
								.style("font-size", "16px")
								.style("text-decoration", "underline")
								.text("Standard Normal Curve");

							// add legend
							var legend = myViz.append("g")

							legend.selectAll('rect')
					      		.data(labels)
					      		.enter().append("rect")
									.attr("x", margin.left)
									.attr("y", function(d, i){ return i*20;})
									.attr("width", 10)
									.attr("height", 10)
									.style("fill", function(d, i) { return colors[i]; });

							legend.selectAll('text')
								.data(labels)
								.enter().append('text')
									.attr("x", margin.left + 15)
									.attr("y", function(d, i){ return i*20 + 10;})
									.text(function(d, i) { return ": " + d; })
						} else {
							errMsg = "";
							if (((m < 0) || (m > 100)) && (s <= 0)) {
								if (m < 0)
									errMsg += "Mean must be positive and Standard Deviation must be larger than zero!";
								else
									errMsg += "Mean is too large and Standard Deviation must be larger than zero!";
							} else if (((m < 0) || (m > 100)) && (s > 0)) {
								if (m < 0)
									errMsg += "Mean must be positive!";
								else
									errMsg += "Mean is too large!";
							} else {
								errMsg = "Standard Deviation must be larger than zero!";
							}
							document.getElementById("viz").innerHTML = errMsg;
							document.getElementById("pcGrade").innerHTML = "";
							document.getElementById("pcGradeSep").innerHTML = "";
							document.getElementById("pcGrade2").innerHTML = "";
							document.getElementById("pcGrade").style.color = "black";
							document.getElementById("pcGrade2").style.color = "black";
						}
					}
				</script>
			</div>
		</div>
		<div id="viz" class="col-sm-3 moved_up"></div>
	</div>
	<br>
{% endblock %}
</html>