{% extends 'layout.html' %}

{% block body %}
    <p></p>
    <h1>{{subject}}{{courseNum}}</h1>
    <strong>Attendance</strong>
        <br>
        <a href="/myclasses/{{subject}}-{{courseNum}}/AddAttendance" class="btn btn-primary">Add Attendance</a>
        <p></p>
        <table class="table table-striped">
            <tr>
                <th>Score</th>
                <th>Total</th>
                <th>Percentage</th>
                <th></th>
            </tr>
        </table>
{% endblock %}