{% extends 'layout.html' %}

{% block body %}
	<p></p>
	<h1>Week {{week}}</h1>
	<br>
	<p></p>
	{% if Items %}
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th>Class</th>
					<th>Category</th>
					<th>Item</th>
					<th>Due Date</th>
					<th></th> <!--EDIT DATE-->
					<th></th> <!--DELETE-->
				</tr>
			</thead>
			{% for item in Items %}
			<tr>
				<td>{{item.subject}}{{item.courseNum}}: {{item.courseName}}</td>
				<td>{{item.category}}</td>
				<td>{{item.attributeName}}</td>
				<td>{{item.dueDate}}</td>
				<td><a href="/myplanner/week{{week}}/EditDueDate/{{item.subject}}-{{item.courseNum}}/{{item.courseName}}/{{item.category}}/{{item.attributeName}}" class="btn btn-info" role="button">Edit Date</a></td>
				<td><a href="/myplanner/week{{week}}/Delete/{{item.subject}}-{{item.courseNum}}/{{item.courseName}}/{{item.category}}/{{item.attributeName}}" class="btn btn-danger">Delete</a></td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>Nothing here for this week!</p>
		<p>To add items, add them from "My Classes".</p>
	{% endif %}
{% endblock %}