{% extends 'layout.html' %}

{% block body %}
<h1> </h1>
<h1> Updates </h1>
<br>
<p><u>Version 1.0</u> (Official Beta) [5/26/18]</p>
<ul style="list-style-type:disc">
	<li>Tentatively stable version of the web-application is live!</li>
</ul>
<p><u>Version 1.1</u> [6/28/18]</p>
<ul style="list-style-type:disc">
	<li>Can’t have course numbers of 0XX anymore.</li>
	<li>Last commit for each user in ‘Administration’ displays in a more readable format.</li>
	<li>Data visualization for "Calculate My Grade" uses D3.js instead of Plotly.</li>
</ul>
<p><u>Version 1.2</u> [7/9/18]</p>
<ul style="list-style-type:disc">
	<li>Administrators (Academic Chair(s)) can now process class responses via the Administration page.</li>
	<li>List of administrators are dynamically updated from external spreadsheet (owned by Academic Chair(s)).</li>
</ul>
{% endblock %}