.grade-visualization {
    padding-top: 10%;
}

.chart {
    border: solid;
}

.grade-params-form {
    padding-bottom: 10%;
}

.grade-visualization__container {
    display: flex;
    flex-direction: column;
}

.grade-visualization__container > table {
    width: fit-content;
    padding-bottom: 15px;
}